body{
    background-image: url("../images1/A.jpg");
}
.topnav {
overflow: hidden;
background-color: #333;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
width:210px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #4CAF50;
color: white;
}
h2{
text-align:center;
background-color: rgb(97, 13, 114);
color:white;
height:50px;
padding:20px;
}
.aligncenter {
text-align: center;
margin-top:70px;
}